@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url(//db.onlinewebfonts.com/c/e50f08c648d677fc2b0f52ac98afb797?family=Ayuthaya);

body {
  margin: 0;
  font-family: 'Noto Sans';
  color: #1A1935;
}

#sanction-code::-webkit-scrollbar {
  width: 28px;
}

#sanction-code::-webkit-scrollbar-track {
  background-color: #0a0925;
  margin-top: 4px;
}

#sanction-code::-webkit-scrollbar-thumb {
  background-color: #403D82;
  border-radius: 180px;
  border: #0a0925;
  border-width: 10px;
  border-style: solid;
}


